body {
	font: normal 15px Verdana, Arial, sans-serif;
	margin: 0 auto;
	background-color: #eae3ea;
}

#leftContainer {
	float: left;
	width: 280px;
	background-color: #b56357;
	height: 100vh;
	color: #B4dbc0;
	box-shadow: 5px 5px 3px #888888;

}

#taskTitleContainer {
	background-color: #b56357;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
	box-shadow: 2px 2px 5px #888888;

}

#taskTitle {
	font-size: 30px;
	color: #eae3ea;
	font-style: bold;
	text-align: center;
}

#tasksContainer {
	margin-left: 280px;

}

#userInfo {
	padding-left: 15px;
	top: 5px;
	height: 40px;
	text-align: center;
	display: table;
	padding-top: 15px;
	color: #Eae3ea;
}

#userAvatar {
	height: 40px;
	width: 40px;

}

#userName {
	margin: 10px 10px 0 0;
	padding: 5px 10px;
	display: table-cell;
	vertical-align: middle;

}

#createList {
	position: absolute;
	bottom: 0;
	margin: 0 0 10px 15px;
}

#newTaskContainer {
	padding-left: 15px;
	padding-top: 15px;
	height: 40px;

}

#showCompletedTasksContainer {
	padding-left: 15px;
	height: 40px;
}

#showCompletedTasks {
	padding: 3px 10px 3px 10px;
	border-radius: 3px;
	background-color: #b56357;
	box-shadow: 3px 3px 10px #888888;
	color: #Eae3ea;

}

.selected-list {
	background-color: #Eae3ea !important;
	margin-right: 0px;
	color: #b56357;
}

.taskItem {
	background-color: white;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 5px 5px 3px #B4dbc0;
	color: #b56357;
}

.completed {
	background-color: white !important;
}

.task-item-checkbox {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.task-item-name {
	display: inline-block;
	padding-top: 5px;
	padding-left: 15px;
}

.sidebar-item {
	height: 38px;
	list-style-type: none;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;

}

.sidebar-item:hover {
	box-shadow: 2px 2px 10px #E3CDA8;
}

.avatar-img {
	height: 40px !important;
	width: 40px !important;;
	border-radius: 50%;
}

.list-item-image {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 7px;
}

.list-item-name {
	float: left;
	padding-top: 5px;
	padding-left: 15px;
}

.taskItem {
	height: 38px;
	list-style-type: none;
	margin-right: 20px;
}

.plus-container {
	float: left;
	cursor: pointer;
	margin-top: 0px;

}

.plus-container:hover {
	box-shadow: 2px 2px 10px #888888;
}

.input-container {
	float: left;
	margin-left: 20px;
	box-shadow: 2px 2px 10px #B4dbc0;
	margin-top: 7px;

}

img.delete-task {
	float: right;
	height: 12px;
	width: 12px;
	margin-right: 20px;
	margin-top: 8px;
}

img.delete-task:hover {
	box-shadow: 2px 2px 10px #888888;
}