<div id="lists-container">
	<div id="lists">
		<ul>
			<li *ngFor="let listItem of listItems"
			    [class.selected-list]="selectedList && listItem.id == selectedList.id"
			    class="sidebar-item" (click)="onListItemClick(listItem)">
				<img src="./app/images/list-item.png" class="list-item-image"/>
				<img src="./app/images/X.png" class="delete-task"
				     (click)="onRemoveListItemClick(listItem.id)"/>
				<span class="list-item-name">{{listItem.name}}</span>
			</li>
		</ul>
	</div>
	<div id="createList" href="#popup1">
		<div class="plus-container">
			<a href="javascript:void(0)" (click)="addNewList(newListElement)">
				<img src="./app/toDo/images/plus.png" class="list-item-image"/>
			</a>
		</div>
		<div class="input-container">
			<input class="list-item-name" placeholder="Create New List" #newListElement>
		</div>
	</div>
</div>